<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: AzureStorageConnectionString-1 -->
        <add key="AzureStorageConnectionString-1" value="DefaultEndpointsProtocol=https;AccountName=batssstore;AccountKey=tZ8+3p5dgKoluRDIeGFKmpMFgHoHhug0XrJid88LQD3nXK+Uz8JL+IfThiCwZHuYH/Bjp1+e4R9727cYJz7kNw==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>